@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: sans-serif;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.primary-button {
    background-color: #5c33bd;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    transition-duration: 500ms;
}

.primary-button:hover {
    background-color: #7848e8;
}

.secondary-button {
    background-color: #f4ecfa;
    border: none;
    color: #5c33bd;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #5c33bd;
    border-radius: 5px;
    transition-duration: 500ms;
}

.secondary-button:hover {
    background-color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px #7146d3, 0 2px 3px -1px #764dd6;
    border-radius: 13px;
    transition-duration: 500ms;
    border: 1px solid #fff;
}


.card:hover {
    border: 1px solid #5c33bd;
}


.editor-box {
    /* background: #fff; */
    height: 60vh;
    width: 100%;
}


/* Unordered List (ul) */
ul {
    @apply list-disc list-inside pl-4;
}

/* Ordered List (ol) */
ol {
    @apply list-decimal list-inside pl-4;
}